In [12]:
import rpy2.robjects as ro
from rpy2.robjects import pandas2ri
pandas2ri.activate()
readRDS = ro.r['readRDS']

In [13]:
df_from_r = readRDS('exgr_test.rds')
df_from_r

<rpy2.robjects.vectors.DataFrame object at 0x000002A1F50D7750> [19]
R classes: ('data.frame',)
[IntSexpVe..., StrSexpVe..., IntSexpVe..., IntSexpVe..., ..., IntSexpVe..., IntSexpVe..., StrSexpVe..., IntSexpVe...]
  transcript_id: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x000002A1F50D36D0> [13]
R classes: ('integer',)
[1, 1, 1, 2, ..., 234482, 234483, 234484, 234485]
  transcript_name: <class 'numpy.ndarray'>
  array(['ENST00000456328.2', 'ENST00000456328.2', 'ENST00000456328.2', ...,
       'ENST00000361681.2', 'ENST00000387459.1', 'ENST00000387461.2'],
      dtype='<U24')
  sequence_names: <class 'rpy2.robjects.vectors.FactorVector'>
  <rpy2.robjects.vectors.FactorVector object at 0x000002A1F50A8690> [13]
R classes: ('factor',)
[chr1, chr1, chr1, chr1, ..., chrM, chrM, chrM, chrM]
  start: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x000002A1F50A8850> [13]
R classes: ('integer',)
[11869, 12613, 13221, 12010, ..., 7446, 14149, 14674, 15956]
...
  width: <class 'rpy2.robjects.vectors.FactorVector'>
  <rpy2.robjects.vectors.FactorVector object at 0x000002A1F50AB390> [13]
R classes: ('factor',)
[+, +, +, +, ..., -, -, -, -]
  strand: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x000002A1F50DBC50> [13]
R classes: ('integer',)
[1, 5, 8, 2, ..., 760546, 760547, 760548, 760549]
  exon_id: <class 'numpy.ndarray'>
  array(['ENSE00002234944.1', 'ENSE00003582793.1', 'ENSE00002312635.1', ...,
       'ENSE00001434974.2', 'ENSE00001544476.1', 'ENSE00001544473.2'],
      dtype='<U18')
  exon_name: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x000002A1F50D9390> [13]
R classes: ('integer',)
[1, 2, 3, 1, ..., 1, 1, 1, 1]